<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Seccion</th>
            <th>Parametro</th>
            <th>Valor</th>
            <th>Descripcion</th>
        </tr>

        <tr *ngFor="let parametro of parametros">
            <td>
                <p class="margin-espacio">{{parametro.id}}</p>
            </td>
            <td>{{parametro.seccion}}</td>
            <td>{{parametro.parametro}}</td>
            <td>{{parametro.valor}}</td>
            <td>{{parametro.descripcion}}</td>
        </tr>
    </table>
</div>