<!-- PAGINA ACERCA DE... -->

<!-- ANIMACION -->
<div class="animate__animated animate__fadeIn fondo">

    <app-header-titulo titulo="Acerca de..."></app-header-titulo>

    <div class="">

        <img class="imagen-cliente" src="assets/imagenes/ValleHermoso/logo_VH_icono.png">

        <p class="contenedor-texto">
            {{informacionSocio1}}
        </p>

        <p class="contenedor-texto">
            {{informacionSocio2}}
        </p>

        <p class="contenedor-texto">
            {{ubicacionTelefonos}}
        </p>

        <p class="contenedor-texto-copy">
            {{informacionCopyright}}
        </p>

    </div>

    <hr>

    <div class="contenedor-texto">
        Version 1.0
    </div>



    <app-boton-footer></app-boton-footer>

</div>