
.flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 0px;
}

.boton-regresar {
    border: none;
    background: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}

.titulo-header {
    color: white;
    font-family: 'Arial';
    float: right;
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 3vw;
}

ul {
    list-style: none;
}

.mensaje-regresar {
    cursor: pointer;
}

.ocultar{
    display: none;
}

.buscador {
    width: 30rem;
    height: 2.2rem;
    border-radius: 10px;
    border: none;
    transition: 0.5s all linear;
    outline: none;
    text-align: center;
}

.buscador:focus {
    background: #ccc;
}


/* --------------------------------------------------------  */

.flex-container {
    display: flex;
}

.lista-resultado {
    list-style: none;
    margin: 2vh 0 2vh 15vw;
    background: white;
    border-radius: 15px;
    width: 70%;
}


/* LISTA DE CONTRATOS /  CONTENIDO */

.resultado-tipo-imagen {
    margin: 5vh 0 0 25vw;
    padding-top: 5vh;
}

.resultado-tipo-contenido {
    margin: 3vh 0 4vh 10vw;
    width: 60%;
    display: inline-block;
}



@media only screen and (device-width: 360px) and (device-height: 640px) {

    
}

@media only screen and (device-width: 641px) and (device-height: 1199px) {

    .resultado-tipo-contenido {
        width: 40%;
    }

    .lista-resultado {
        width: 40%;
    }
}

@media only screen and (device-width: 1200px) and (device-height: 2200px) {
   
    .resultado-tipo-contenido {
        width: 40%;
    }

    .lista-resultado {
        width: 20%;
    }
}

/* Desktops and Laptops -------- */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1800px) {
    .titulo-header {
        font-size: 2vw;
    }

    .resultado-tipo-imagen {
        margin: 4vh 0 4vh 8vw;
        display: inline-flex;
        padding-top: 0;
    }
}