<!-- PAGINA OBRAS -->

<div class="bg-vh-verde contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
        <input type="input" placeholder="ADQUISICIONES" class="buscador" [(ngModel)]=search autocomplete=off>
        <h3 class="titulo-header">ADQUISICIONES</h3>
    </div>
</div>



<div class="flex-container">
        <ul>
            <a (click)="verDocumentos()">
                <li class="lista-resultado" *ngFor="let resultado of resultadoListaContrato | filter:search">

                    <div class="resultado-tipo-imagen">
                        <img [src]="imagenTipoContrato" class="imagen-tipo-contrato" />
                    </div>

                    <div class="resultado-tipo-contenido">
                        <!-- NOMBRE DEL CONTRATISTA -->
                        {{ resultado.con_nombre }}
                        <br>
                        <!-- CLASIFICACION -->
                        {{ resultado.categoria }}
                        <br>
                        <!-- MONTOS -->
                        <i class="fa fa-money" aria-hidden="true"></i>
                        5,000,000
                        <!-- FECHA DE CREACION -->
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <!-- 2012/05/20 -->
                        {{resultado.creadofecha}}
                        <br>
                        <!-- NÚMERO DE CONTRATO -->
                        NUMERO DE CONTRATO: {{ resultado.contrato }}
                    </div>
                </li>
            </a>
        </ul>
</div>