.flex-container2 {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0px;
}

.boton-regresar {
    border: none;
    background: transparent;
    color: white;
    outline: none;
    cursor: pointer;
}

.titulo-header {
    color: white;
    font-family: 'Arial';
}

ul {
    list-style: none;
}

.mensaje-regresar {
    cursor: pointer;
}

.arrow-padding {
    margin-right: 10px;
}

.contenedor-mensaje {
    background: transparent;
}

.mensaje {
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #F9A54B;
}

.ocultar {
    display: none;
}

.buscador-general {
    width: 40%;
    height: 2.2rem;
    border-radius: 10px;
    border: none;
    transition: 0.5s all linear;
    outline: none;
    text-align: center;
}

.buscador-general:focus {
    background: #ccc;
}


/* BOTON FILTROS */

.boton-filtros {
    background: rgb(69, 170, 226);
    border: none;
    border-radius: 30px;
    width: 10%;
    margin-right: 2%;
    outline: none;
    cursor: pointer;
    margin: 10px;
    font-size: 10px;
    color: white;
}

.icono-filtros {
    /* width: 1.5rem;
    height: 1.5rem; */
    width: 70%;
    transform: rotate(90deg);
    color: white;
}


/* --------------------------------------------------------  */

.flex-container {
    display: flex;
}

.lista-resultado {
    list-style: none;
    background: white;
    border-radius: 15px;
    border: 3px solid #F9BB94;
    border-style: solid;
    width: 95%;
    margin: 5px 5px 5px 5px;
    transition: all linear 0.5s;
}

.lista-resultado:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


/* LISTA DE CONTRATOS /  CONTENIDO */

.resultado-tipo-contenido {
    display: inline;
}

.contenedor-imagen {
    width: 20%;
}

.imagen-contrato {
    width: 100%;
}

.contenido-contrato {
    font-size: 0.7rem;
}

.calendario {
    margin-left: 5%;
}

.contenedor-lista {
    width: 100%;
    height: 300px;
    margin: auto;
    display: block;
}

.li-prueba {
    list-style: none;
}

.contenedor-resultado {
    border-radius: 15px;
    border: 3px solid #F9BB94;
    border-style: solid;
    width: 95%;
    margin: 10px;
    transition: all linear 0.3s;
}

.contenedor-resultado:hover {
    background: rgba(0, 0, 0, 0.2);
}


/* MEDIDA PARA SMARTPHONES LANDSCAPE */


/* @media (max-width: 359px) {} */


/* MEDIDA PARA SMARTPHONES */


/* @media (min-width: 360px) and (max-width: 480px) {}

@media (min-width: 481px) and (max-width: 767px) {} */


/* MEDIDA DE TABLET */


/* @media (min-width: 481px) and (max-width: 768px) {} */


/* MEDIDA DE TABLET  */


/* @media (min-width: 768px) and (max-width: 1024px) {} */


/* MEDIDA DE LAPTOP */


/* @media (min-width: 1025px) and (max-width: 1200px) {} */


/* MEDIDAS DE PC */


/* @media (min-width: 1201px) {} */


/* MEDIA QUERYS DE PRUEBA */


/* <576 */

@media (max-width: 575px) {
    .boton-regresar {
        width: 20%;
        height: 3rem;
        font-size: 10px;
    }
    .buscador-general {
        width: 45%;
        height: 2.2rem;
        font-size: 0.8rem;
        margin-right: 1%;
    }
    .titulo-header {
        font-size: 8px;
    }
    .boton-filtros {
        height: 2rem;
        margin-left: 2px;
    }
    .mensaje-regresar {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .boton-regresar {
        width: 20%;
        height: 3rem;
        font-size: 1rem;
    }
    .buscador-general {
        width: 52%;
        height: 2.2rem;
        font-size: 0.8rem;
        margin-right: 1%;
    }
    .titulo-header {
        font-size: 0.6rem;
    }
    .boton-filtros {
        width: 2rem;
        height: 2rem;
        margin-right: 2%;
        margin: 10px;
    }
    .mensaje-regresar {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contenedor-resultado {
        width: 80%;
        margin-left: 10%;
    }
    .imagen-contrato {
        width: 80%;
    }
    .contenido-contrato {
        font-size: 1rem;
    }
    /*  */
    .boton-regresar {
        width: 20%;
        font-size: 1rem;
    }
    .buscador-general {
        width: 50%;
        margin-right: 3%;
    }
    .titulo-header {
        font-size: 1rem;
    }
    .boton-filtros {
        width: 5%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contenedor-resultado {
        width: 80%;
        margin-left: 10%;
    }
    .imagen-contrato {
        width: 60%;
    }
    .contenido-contrato {
        font-size: 1.1rem;
    }
    /*  */
    .boton-regresar {
        width: 15%;
        font-size: 1rem;
    }
    .buscador-general {
        width: 55%;
        margin-right: 3%;
    }
    .titulo-header {
        font-size: 1.3rem;
    }
    .boton-filtros {
        width: 5%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .contenedor-resultado {
        width: 65%;
        margin-left: 20%;
    }
    .imagen-contrato {
        width: 60%;
    }
    .contenido-contrato {
        font-size: 1.1rem;
    }
    /*  */
    .boton-regresar {
        width: 12%;
        font-size: 1rem;
        margin-right: 5%;
    }
    .buscador-general {
        width: 55%;
        margin-right: 3%;
    }
    .titulo-header {
        font-size: 1.5rem;
        margin-right: 2%;
    }
    .boton-filtros {
        width: 05%;
        font-size: 17px;
    }
}

@media (min-width: 1400px) {
    .contenedor-resultado {
        width: 65%;
        margin-left: 20%;
    }
    .imagen-contrato {
        width: 60%;
    }
    .contenido-contrato {
        font-size: 1.1rem;
    }
    /*  */
    .boton-regresar {
        width: 20%;
        font-size: 1rem;
    }
    .buscador-general {
        width: 50%;
        margin-right: 3%;
    }
    .titulo-header {
        font-size: 1.5rem;
        margin-right: 2%;
    }
    .boton-filtros {
        width: 05%;
        font-size: 17px;
    }
}