<!-- INTRODUCE EL COMPONENTE DE LA TABLA A ELEGIR -->

<!-- POR EJEMPLO
    <app-contratista></app-contratista>
-->

<div style="background: white; height: 100vh;">
    <app-header-titulo></app-header-titulo>

    <app-ciudad></app-ciudad>
</div>


<!-- <app-ciudad></app-ciudad> -->
<!-- <app-contratista-giro></app-contratista-giro> -->
<!-- <app-contrato-oficial></app-contrato-oficial> -->
<!-- <app-contrato-oficio></app-contrato-oficio> -->
<!-- <app-contrato-referencia></app-contrato-referencia> -->
<!-- <app-contrato-restaurado></app-contrato-restaurado> -->
<!-- <app-contrato-seguimiento></app-contrato-seguimiento> -->
<!-- <app-contrato-seguimiento-bitacora></app-contrato-seguimiento-bitacora> -->
<!-- <app-contrato-seguimiento-correo></app-contrato-seguimiento-correo> -->
<!-- <app-contrato-tipo></app-contrato-tipo> -->
<!-- <app-fondo></app-fondo> -->
<!-- <app-pais></app-pais> -->
<!-- <app-requerido></app-requerido> -->
<!-- <app-santoral></app-santoral> -->
<!-- <app-sugerencia></app-sugerencia> -->
<!-- <app-usuario-departamento></app-usuario-departamento> -->
<!-- <app-estado></app-estado> -->
<!-- <app-contrato-seguimiento></app-contrato-seguimiento> -->
<!-- <app-contrato-tipo></app-contrato-tipo> -->
<!-- <app-parametros></app-parametros> -->
<!-- <app-contratista></app-contratista> -->
<!-- <app-configuracion-web></app-configuracion-web> -->
<!-- <app-contratista-documento></app-contratista-documento> -->
<!-- <app-contratista-persona></app-contratista-persona> -->
<!-- <app-contratista-referencia></app-contratista-referencia> -->
<!-- <app-contrato-anexo></app-contrato-anexo> -->
<!-- <app-contrato-area></app-contrato-area> -->
<!-- <app-contrato-cancelado></app-contrato-cancelado> -->
<!-- <app-contrato-colaborador></app-contrato-colaborador> -->
<!-- <app-contrato-filtro></app-contrato-filtro> -->
<!-- <app-contrato-firma></app-contrato-firma> -->
<!-- <app-contrato-funcionario></app-contrato-funcionario> -->
<!-- <app-contrato-funcionario-dato></app-contrato-funcionario-dato> -->