<div class="bg-vh-verde contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
        <!--<div class="empresa">{{contratoAlmacenado.con_nombre}}</div>
        <h3 class="titulo-header">{{contratoAlmacenado.contrato}}</h3>-->
    </div>
</div>

<!--
<div>
    <a class="ruta-tipo-busqueda">{{ids}}</a>
</div> -->
<div class="flex-container3">
    <div *ngFor="let id of ids">
        <img src="http://localhost:8083/contratooficialimagen/imagenbyid?id={{id}}"/>
    </div>
</div>

<!--<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>-->
<!--
<a href="http://localhost:8083//contratooficialimagen/imagen?area={{contratoAlmacenado.area}}&tipo={{contratoAlmacenado.tipo}}&categoria={{contratoAlmacenado.categoria}}&folio={{contratoAlmacenado.folio}}&revision={{contratoAlmacenado.revision}}&documento=BASES%20DE%20LICITACIÓN"><div class="flex-container-adjudicacion"><p class="texto">BASES DE LICITACIÓN</p></div></a>
<a href="http://localhost:8083//contratooficialimagen/imagen?area={{contratoAlmacenado.area}}&tipo={{contratoAlmacenado.tipo}}&categoria={{contratoAlmacenado.categoria}}&folio={{contratoAlmacenado.folio}}&revision={{contratoAlmacenado.revision}}&documento=PROCEDIMIENTO%20DE%20ADJUDICACI%C3%93N"><div class="flex-container-oficio"><p class="texto">PROCEDIMIENTO DE ADJUDICACIÓN</p></div></a>
<a href="http://localhost:8083//contratooficialimagen/imagen?area={{contratoAlmacenado.area}}&tipo={{contratoAlmacenado.tipo}}&categoria={{contratoAlmacenado.categoria}}&folio={{contratoAlmacenado.folio}}&revision={{contratoAlmacenado.revision}}&documento=OFICIO%20DE%20ORIGEN%20DE%20LOS%20RECURSOS"><div class="flex-container-oficio"><p class="texto">OFICIO DE ORIGEN DE LOS RECURSOS</p></div></a>
<a href="http://localhost:8083//contratooficialimagen/imagen?area={{contratoAlmacenado.area}}&tipo={{contratoAlmacenado.tipo}}&categoria={{contratoAlmacenado.categoria}}&folio={{contratoAlmacenado.folio}}&revision={{contratoAlmacenado.revision}}&documento=ACTA%20DE%20FALLO"><div class="flex-container-oficio"><p class="texto">ACTA DE FALLO</p></div></a>-->
