<div class="bg-vh-verde contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
        <input type="input" placeholder="Busqueda General" class="buscador"  autocomplete=off>
        <h3 class="titulo-header">DOCUMENTOS</h3>
    </div>
</div>
<div class="flex-container-adjudicacion"><p class="texto">PROCEDIMIENTO DE ADJUDICACIÓN</p></div>
<div class="flex-container-adjudicacion-imagen">
    <!--<img src="https://maikiki.herokuapp.com/contratooficialimagen/imagen?area=A1&tipo=CO&categoria=OP&folio=1&revision=3&documento=PROCEDIMIENTO%20DE%20ADJUDICACI%C3%93N">-->
</div>
<div class="flex-container-oficio"><p class="texto">OFICIO DE ORIGEN DE LOS RECURSOS</p></div>
<div class="flex-container-oficio-imagen">
   
</div>

    <div *ngFor="let tipo of lista">
        <a></a>
    </div>