<!-- <div class="bg-vh-verde contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
        <input type="input" placeholder="Busqueda General" class="buscador"  autocomplete=off>
        <h3 class="titulo-header">DOCUMENTOS</h3>
    </div>
</div> -->
<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>
<div class="flex-container-adjudicacion" (click)="verBasesDeLicitacion()"><p class="texto">BASES DE LICITACIÓN</p></div>
<div class="flex-container-oficio" (click)="verProcedimientoAdjudicacion()"><p class="texto">PROCEDIMIENTO DE ADJUDICACIÓN</p></div>
<div class="flex-container-oficio" (click)="verOrigenRecursos()"><p class="texto">OFICIO DE ORIGEN DE LOS RECURSOS</p></div>
<div class="flex-container-oficio" (click)="verActaFallo()"><p class="texto">ACTA DE FALLO</p></div>
