<div class="bg-vh-verde contenedor-menu">

    <p class="titulo-cliente">{{ tituloCliente | uppercase }}</p>

    <div class="flex-container">
        <button class="boton-menu" (click)="abrirMenu()">
            <img src="assets/imagenes/ValleHermoso/logo_VH_icono.png" class="imagen-menu">
        </button>
       <!-- <app-barra-busqueda></app-barra-busqueda> -->
        <button class="boton-filtros" (click)="abrirFiltros()">
            <i class="fa fa-sliders icono-filtros"></i>
        </button>
    </div>
</div>

<!-- MENU OPCIONES -->
<div *ngIf="mostrarMenu === true" class="contenedor-menu-lateral">
    <!-- APARTADO USUARIO -->
    <div class="bg-vh-verde">
        <img src="assets/imagenes/ValleHermoso/logo_ValleHermoso.jpg" class="imagen-menu-lateral">
        <button class="boton-cerrar-menu" style="display: inline;" (click)="cerrarMenu()">
            <i class="fa fa-arrow-left"></i>
        </button>

        <span class="usuario-rol">{{usuario.rol}}</span>
        <span class="usuario-correo">{{usuario.correo}}</span>
    </div>

    <div class="" *ngFor="let opcion of menuOpciones">
        <ul class="">
            <a [routerLink]="opcion.ruta" class="ruta-opciones">
                <li class="lista-opciones"><i [class]="opcion.icono"></i>{{opcion.nombre}}</li>
            </a>
        </ul>
    </div>
</div>