<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Area</th>
            <th>Categoria</th>
            <th>Clave</th>
            <th>Compareciente</th>
            <th>Folio</th>
            <th>Fundamentos</th>
            <th>Nombre</th>
            <th>Orden</th>
            <th>Puesto</th>
            <th>Representante</th>
            <th>Revision</th>
            <th>Tipo</th>
        </tr>

        <tr *ngFor="let contratoFuncionarioDato of contratosFuncionarioDato">
            <td>
                <p class="margin-espacio">{{contratoFuncionarioDato.id}}</p>
            </td>
            <td>{{contratoFuncionarioDato.area}}</td>
            <td>{{contratoFuncionarioDato.categoria}}</td>
            <td>{{contratoFuncionarioDato.clave}}</td>
            <td>{{contratoFuncionarioDato.compareciente}}</td>
            <td>{{contratoFuncionarioDato.folio}}</td>
            <td>{{contratoFuncionarioDato.fundamentos}}</td>
            <td>{{contratoFuncionarioDato.nombre}}</td>
            <td>{{contratoFuncionarioDato.orden}}</td>
            <td>{{contratoFuncionarioDato.puesto}}</td>
            <td>{{contratoFuncionarioDato.representante}}</td>
            <td>{{contratoFuncionarioDato.revision}}</td>
            <td>{{contratoFuncionarioDato.tipo}}</td>
        </tr>
    </table>
</div>