<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Nombre Genero</th>
            <th>Numero</th>
            <th>Referencia</th>
        </tr>

        <tr *ngFor="let contratistaReferencia of contratistasReferencia">
            <td>{{contratistaReferencia.id}}</td>
            <td>{{contratistaReferencia.nombre}}</td>
            <td>{{contratistaReferencia.nombregenero}}</td>
            <td>{{contratistaReferencia.numero}}</td>
            <td>{{contratistaReferencia.referencia}}</td>
        </tr>
    </table>
</div>