<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Clave</th>
            <th>Dato</th>
            <th>Documento</th>
            <th>Escaneado</th>
            <th>Formato</th>
            <th>Nombre</th>
            <th>Orden</th>
            <th>Persona</th>
            <th>Registro</th>
            <th>Requerido</th>
            <th>Valor</th>
        </tr>

        <tr *ngFor="let contratistaDocumento of contratistasDocumento">
            <td>{{contratistaDocumento.id}}</td>
            <td>{{contratistaDocumento.clave}}</td>
            <td>{{contratistaDocumento.dato}}</td>
            <td>{{contratistaDocumento.documento}}</td>
            <td>{{contratistaDocumento.escaneado}}</td>
            <td>{{contratistaDocumento.formato}}</td>
            <td>{{contratistaDocumento.nombre}}</td>
            <td>{{contratistaDocumento.orden}}</td>
            <td>{{contratistaDocumento.persona}}</td>
            <td>{{contratistaDocumento.registro}}</td>
            <td>{{contratistaDocumento.requerido}}</td>
            <td>{{contratistaDocumento.valor}}</td>
        </tr>
    </table>
</div>