.busqueda {
    color: #0d6efd;
    list-style: none;
    padding: 10px;
}

.flex-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.contenedor-resultado {
    width: 50%;
    background: white;
    position: absolute;
    left: 25%;
    top: 20%
}

.ruta-resultado {
    text-decoration: none;
}