<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Categoria</th>
            <th>Documento</th>
            <th>Escaneado</th>
            <th>Orden</th>
            <th>Persona</th>
            <th>Registro</th>
            <th>Tipo</th>
        </tr>

        <tr *ngFor="let contratoOficial of contratosOficial">
            <td>
                <p class="margin-espacio">{{contratoOficial.id}}</p>
            </td>

            <td>{{contratoOficial.categoria}}</td>
            <td>{{contratoOficial.documento}}</td>
            <td>{{contratoOficial.escaneado}}</td>
            <td>{{contratoOficial.orden}}</td>
            <td>{{contratoOficial.persona}}</td>
            <td>{{contratoOficial.registro}}</td>
            <td>{{contratoOficial.tipo}}</td>
        </tr>
    </table>
</div>