<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>

<div class="flex-container2">
    <img src="https://maikiki.herokuapp.com/contratooficialimagen/imagen?area=A1&tipo=CO&categoria=OP&folio=1&revision=3&documento=PROCEDIMIENTO%20DE%20ADJUDICACI%C3%93N">
</div>
