<p class="titulo-cliente bg-vh-verde">PATRIMONIOS</p>
<div class="flex-container2 bg-vh-verde">
    <button class="boton-menu" (click)="abrirMenu()">
        <img src="assets/imagenes/ValleHermoso/logo_VH_icono.png" class="imagen-menu">
    </button>
   <!-- <input type="input" placeholder="Busqueda General" class="buscador" [(ngModel)]=search autocomplete=off (focus)="inputActive = true"> -->
   <input type="search" placeholder="BUSQUEDA GENERAL" class="buscador" spellcheck="false" autocomplete=off
   (keyup)="inputActive = true" (keyup)="buscarContratistas( $event )"><button class="boton-filtros"
   (click)="abrirFiltros()">
   <i class="fa fa-sliders icono-filtros"></i>
    </button>
</div>

<!-- MENU OPCIONES -->
<div *ngIf="mostrarMenu === true" class="contenedor-menu-lateral-blanco">
    <!-- APARTADO USUARIO -->
    <div class="bg-vh-verde contenedor-menu-lateral-verde">
        <img src="assets/imagenes/ValleHermoso/logo_ValleHermoso.jpg" class="imagen-menu-lateral">
        <button class="boton-cerrar-menu" (click)="cerrarMenu()">
            <i class="fa fa-arrow-left"></i>
        </button>

        <span class="usuario-rol">{{usuario.rol}}</span>
        <span class="usuario-correo">{{usuario.correo}}</span>
    </div>

    <div *ngFor="let opcion of menuOpciones">
        <ul>
            <a [routerLink]="opcion.ruta" class="ruta-opciones">
                <div>
                    <li class="lista-opciones"><i [class]="opcion.icono"></i>{{opcion.nombre}}</li>
                </div>
            </a>
        </ul>
    </div>
</div>
<!--
    <div class="flex-container">
        <img [src]="logo1Celular" class="logo-1-celular">
    </div>

    <div class="flex-container">
        <img [src]="logo2Celular" class="logo-2-celular">
    </div> -->

    
<div class="flex-container3">
    <div *ngIf="textoBuscar">
        <div class="capa-lista" *ngFor="let tipo of contratistas | busquedaPipe">
            <!-- CASO 3 / ARRAY CON DATOS -->
            <a class="ruta-tipo-busqueda" [routerLink]="[tipo.link, tipo.numero]">
                <div>{{tipo.nombre}}</div>
            </a>
        </div>
        <!-- CASO 2 / ARRAY VACIO -->
        <div class="flex-container-mensaje">
            <p class="mensaje-error">{{mensajeError}}</p>
        </div>
    </div>
    <!-- CASO 1 / INPUT VACIO -->
    <img [src]="logo1Pc" class="logo-1-pc">
    <img [src]="logo2Pc" class="logo-2-pc">
</div>

<div class="menu-footer">
    <img src="assets/imagenes/main/inicio_icono.png" class="img0-menu-footer" (click)="irinicio()"/>
    <img src="assets/imagenes/main/obras_icono.png" class="img1-menu-footer" (click)="enrutarObrasPublicasGenerales()"/>
    <img src="assets/imagenes/main/adquisiciones_icono.png" class="img2-menu-footer" (click)="enrutarAdquisicionesGenerales()"/>
    <img src="assets/imagenes/main/patrimonios_icono.png" class="img3-menu-footer" (click)="enrutarPatrimoniosGenerales()"/>
</div>