<!-- HEADER / NAVBAR
<div class="animate__animated animate__fadeIn"></div>
<img src="assets/images/ValleHermoso/logo_prueba_horizontal.png" class="logo-horizontal img-fluid mx-auto d-block img-size">
<img src="assets/images/ValleHermoso/logo_prueba.png" class="logo-centro img-fluid mx-auto d-block img-size">-->
<app-menu></app-menu>

<!--<table class="body-contratista">
    <tr *ngFor="let variable of imagenes">
      <td><img [src] ="data.imagePath + variable + '.jpg'"></td>
     <td><img [src] ='data:image/jpg;base64,${imagenes}'></td>
     <td><img [src] ='data:image/jpg;base64,${imagenes}'/></td>
    </tr>
</table>-->

<!--<img src ="data:image/jpg;base64, + imagen + '.jpg'">-->
<img src ="data:image/jpg;base64,{{imagen}}">

<div class="flex-container">
    <img src="assets/images/ValleHermoso/logo_prueba_horizontal.png">
</div>

<div class="flex-container">
    <img src="assets/images/ValleHermoso/logo_prueba.png">
</div>
