<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>

<div class="flex-container2">
    <img src="https://maikiki.herokuapp.com/contratooficialimagen/imagen?area={{contratoAlmacenado.area}}&tipo={{contratoAlmacenado.tipo}}&categoria={{contratoAlmacenado.categoria}}&folio={{contratoAlmacenado.folio}}&revision={{contratoAlmacenado.revision}}&documento=ORIGEN%20DE%20LOS%20RECURSOS">
</div>