<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Categoria</th>
            <th>Documento</th>
            <th>Escaneado</th>
            <th>Orden</th>
            <th>Persona</th>
            <th>Registro</th>
            <th>Tipo</th>
        </tr>

        <tr *ngFor="let contratoAnexo of contratosAnexo">
            <td>
                <p class="margin-espacio">{{contratoAnexo.id}}</p>
            </td>
            <td>{{contratoAnexo.categoria}}</td>
            <td>{{contratoAnexo.documento}}</td>
            <td>{{contratoAnexo.escaneado}}</td>
            <td>{{contratoAnexo.orden}}</td>
            <td>{{contratoAnexo.persona}}</td>
            <td>{{contratoAnexo.registro}}</td>
            <td>{{contratoAnexo.tipo}}</td>
        </tr>
    </table>
</div>