.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.flex-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.contenedor-contenido {
    background: white;
    width: 95%;
    margin-top: 2%;
    border-radius: 5px;
}

.ocultar{
    display: none;
}

/* ESTATUS */

.estatus {
    background: rgb(22, 130, 0);
    color: white;
}


/* BOTON VER SEGUIMIENTO */

.ver-seguimiento {
    border: transparent;
}


/* DOCUMENTOS PDF */

.documentos-titulo {
    padding-left: 20px;
    padding-top: 10px;
}

.contenedor-pdf {
    height: 10rem;
    background: white;
    width: 38%;
    margin-top: 2%;
    margin-bottom: 50px;
    border-radius: 5px;
}

.boton-pdf {
    border: transparent;
    outline: none;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    margin: 10px;
}


/* FOOTER */

.footer {
    position: relative;
    margin-left: 5%;
    margin-bottom: 5%;
}

.boton-footer {
    border: none;
    border-radius: 50%;
    background: #045597;
    width: 3rem;
    height: 3rem;
    outline: none;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}


/* Smartphones */

@media only screen and (device-width: 360px) and (device-height: 640px) {
    .contenedor-contenido {
        width: 90%;
    }
    .boton-pdf {
        margin: 0px;
    }
}


/* Desktops and Laptops -------- */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1800px) {
    /* Styles */
    .contenedor-contenido {
        width: 40%;
    }
    .boton-pdf {
        margin-left: 20%;
        margin-bottom: 3%;
    }
    .footer {
        margin-left: 2%;
        margin-bottom: 2%;
    }
}