<!-- PAGINA DOCUMENTOS -->
<!-- ANIMACION -->
<!--
<div class="flex-container">
    <div class="contenedor-contenido">
        <div class="card-body">
            <div class="row">
                    <div class="col-4">Monto</div>
                    <div class="col-4"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="col-4"><label>{{montoContrato}}</label></div>
            </div>

            <hr/>

            <div class="row">
                    <div class="col-4">Fecha</div>
                    <div class="col-4"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <div class="col-4"><label>{{fechaContratoCreado}}</label></div>
            </div>

                <hr/>
                <div class="row">
                    <div class="col-6">Rep. Legal</div>
                    <div class="col-6">
                        <p *ngFor="let repLegal of repLegalContrato">{{repLegal.nombre}}</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-6">Socios</div>
                    <div class="col-6">
                        <p *ngFor="let socios of sociosContrato">{{socios.nombre}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="contenedor-contenido">
            <div class="card-body">

                <div class="row">
                    <div class="col-4">Estatus</div>
                    <div class="col-4"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="col-4">
                        <p class="">{{estatusContrato}}</p>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-8">Seguimiento</div>
                    <div class="col-4"><button class="boton-" type="button" (click)="verSeguimiento()">Ver seguimiento</button></div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-6">Responsable</div>
                    <div class="col-6">
                        <p>{{responsableContrato}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="contenedor-contenido" style="margin-bottom: 2%;">
            <h3 style="margin: 10px;">Documentos</h3>
            <div class="row">

                <div class="col-6">
                    <button class="boton-pdf" (click)="abrirFichaTecnica()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <label>FICHA TÉCNICA</label>
                    </button>
                </div>

                <div class="col-6">
                    <button class="boton-pdf" (click)="abrirDocumentosPadron()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <label>DOCUMENTOS PADRÓN</label>
                    </button>
                </div>

            </div>

            <div class="row">

                <div class="col-6">
                    <button class="boton-pdf" (click)="abrirAnexosOficiales()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <label>ANEXOS OFICIALES</label>
                    </button>
                </div>

                <div class="col-6">
                    <button class="boton-pdf" (click)="abrirContratosAnexos()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <label>CONTRATOS Y ANEXOS</label>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <button class="boton-footer" (click)="irInicio()">
                Inicio
        </button>
    </footer>
-->

<div class="flex-container">
    <div class="contenedor-contenido">
        <div class="card-body">
            <div class="row">
                <div class="col-4">Monto</div>
                <div class="col-4"><i class="fa fa-money" aria-hidden="true"></i></div>
                <div class="col-4">{{configuracion.monto}}</div>
                <div class="col-4">nota: esta clave no tiene valor</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4">Fecha</div>
                <div class="col-4"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <div class="col-4">{{contrato.creadofecha}}</div>
            </div>
            <hr />
            <div class="row">
                <div class="row rep">Rep. Legal</div>
                <div class="row nombre-rep">
                    <div *ngFor="let responsables of contratoReferencia">
                        <span *ngIf="responsables.referencia <= 4">
                            {{responsables.nombre}}
                        </span>
                    </div>
                </div>
                 <!-- <div class="col-6 ocultar">{{contrato.area}} {{contrato.tipo}} {{contrato.categoria}} {{contrato.folio}} {{contrato.revision}}</div>-->
            </div>
            <hr />
            <div class="row">
                <div class="row socios">Socios</div>
                <div class="row nombre-socios">
                    <div *ngFor="let socios of contratoReferencia">
                        <span *ngIf="socios.referencia >= 5">
                            {{socios.nombre}}
                        </span>
                    </div>
                </div>
               <!-- <div class="col-6 ocultar">{{contrato.area}} {{contrato.tipo}} {{contrato.categoria}} {{contrato.folio}} {{contrato.revision}}</div>-->
            </div>
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="contenedor-contenido">
        <div class="card-body">
            <div class="row">
                <div class="col-4">Estatus</div>
                <div class="col-4"><i class="fa fa-money" aria-hidden="true"></i></div>
                <div class="col-4">{{contrato.estatus}}</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-8">Seguimiento</div>
                <div class="col-4"><button class="boton-" type="button" (click)="verSeguimiento()">Ver
                        seguimiento</button></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-6">Responsable</div>
                <div class="col-6">{{configuracion.responsablenombre}}</div>
                <div class="col-4">nota: no se ha asignado responsable</div>
            </div>
            <hr />
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="contenedor-contenido" style="margin-bottom: 2%;">
        <h3 style="margin: 10px;">Documentos</h3>
        <div class="row">

            <div class="col-6">
                <button class="boton-pdf">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <label>FICHA TÉCNICA</label>
                </button>
            </div>

            <div class="col-6">
                <a href="https://maikiki.herokuapp.com/contratodocumentoimagen/imagen?area={{contrato.area}}&tipo={{contrato.tipo}}&categoria={{contrato.categoria}}&folio={{contrato.folio}}&revision={{contrato.revision}}"><button class="boton-pdf">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <label>DOCUMENTOS PADRÓN</label>
                </button></a>
            </div>

        </div>

        <div class="row">

            <div class="col-6">
                <button class="boton-pdf" (click)="abrirAnexosOficiales()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <label>ANEXOS OFICIALES</label>
                </button>
            </div>

            <div class="col-6">
               <button class="boton-pdf">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    <label>CONTRATOS Y ANEXOS</label>
                </button>
            </div>

        </div>
    </div>
</div>