<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Origen Email</th>
            <th>Origen Password</th>
            <th>Origen Fecha</th>
            <th>Destino Email</th>
            <th>Destino CC</th>
            <th>Destino Asunto</th>
            <th>Destino Contenido</th>
            <th>Destino Fecha</th>
            <th>Destino Hora</th>
            <th>Estatus</th>
        </tr>

        <tr *ngFor="let s of sugerencia">
            <td>
                <p class="margin-espacio">{{s.id}}</p>
            </td>
            <td>{{s.origenemail}}</td>
            <td>{{s.origenpassword}}</td>
            <td>{{s.origenfecha}}</td>
            <td>{{s.origenhora}}</td>
            <td>{{s.destinoemail}}</td>
            <td>{{s.destinocc}}</td>
            <td>{{s.destinoasunto}}</td>
            <td>{{s.destinocontenido}}</td>
            <td>{{s.destinofecha}}</td>
            <td>{{s.destinohora}}</td>
            <td>{{s.estatus}}</td>
        </tr>
    </table>
</div>