<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Area</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Folio</th>
            <th>Revision</th>
            <th>Contrato</th>
            <th>Contrato Descripcion</th>
            <th>Fecha Inicio</th>
            <th>Hora Envio</th>
            <th>Periodo</th>
            <th>Fecha Siguiente Correo</th>
            <th>Seguimiento Tipo</th>
            <th>Responsable Nombre</th>
            <th>Responsable Depto</th>
            <th>Responsable Puesto</th>
            <th>Responsable Telefonos</th>
            <th>Jefe Nombre</th>
            <th>Jefe Depto</th>
            <th>Jefe Puesto</th>
            <th>Jefe Telefonos</th>
            <th>Jefe Correo</th>
            <th>Motivo</th>
            <th>Observaciones</th>
            <th>Correo Seguimiento Estatus</th>
            <th>Dias Completar Seguimiento</th>
            <th>Enviado</th>
            <th>Estatus Url</th>
            <th>Terminado</th>
            <th>Hashcode</th>
            <th>Codigo</th>
            <th>Creado Usuario</th>
            <th>Creado Fecha</th>
            <th>Creado Hora</th>
        </tr>

        <tr *ngFor="let contratoSeguimientoCorreo of contratosSeguimientoCorreo">
            <td>
                <p class="margin-espacio">{{contratoSeguimientoCorreo.id}}</p>
            </td>
            <td>{{contratoSeguimientoCorreo.area}}</td>
            <td>{{contratoSeguimientoCorreo.tipo}}</td>
            <td>{{contratoSeguimientoCorreo.categoria}}</td>
            <td>{{contratoSeguimientoCorreo.folio}}</td>
            <td>{{contratoSeguimientoCorreo.revision}}</td>
            <td>{{contratoSeguimientoCorreo.contrato}}</td>
            <td>{{contratoSeguimientoCorreo.contratodescripcion}}</td>
            <td>{{contratoSeguimientoCorreo.fechainicio}}</td>
            <td>{{contratoSeguimientoCorreo.horaenvio}}</td>
            <td>{{contratoSeguimientoCorreo.periodo}}</td>
            <td>{{contratoSeguimientoCorreo.fechasiguientecorreo}}</td>
            <td>{{contratoSeguimientoCorreo.seguimientotipo}}</td>
            <td>{{contratoSeguimientoCorreo.responsablenombre}}</td>
            <td>{{contratoSeguimientoCorreo.responsabledepto}}</td>
            <td>{{contratoSeguimientoCorreo.responsablepuesto}}</td>
            <td>{{contratoSeguimientoCorreo.responsabletelefonos}}</td>
            <td>{{contratoSeguimientoCorreo.jefenombre}}</td>
            <td>{{contratoSeguimientoCorreo.jefedepto}}</td>
            <td>{{contratoSeguimientoCorreo.jefepuesto}}</td>
            <td>{{contratoSeguimientoCorreo.jefetelefonos}}</td>
            <td>{{contratoSeguimientoCorreo.jefecorreo}}</td>
            <td>{{contratoSeguimientoCorreo.motivo}}</td>
            <td>{{contratoSeguimientoCorreo.observaciones}}</td>
            <td>{{contratoSeguimientoCorreo.correoseguimientoestatus}}</td>
            <td>{{contratoSeguimientoCorreo.diascompletarseguimiento}}</td>
            <td>{{contratoSeguimientoCorreo.enviado}}</td>
            <td>{{contratoSeguimientoCorreo.estatusurl}}</td>
            <td>{{contratoSeguimientoCorreo.terminado}}</td>
            <td>{{contratoSeguimientoCorreo.hashcode}}</td>
            <td>{{contratoSeguimientoCorreo.codigo}}</td>
            <td>{{contratoSeguimientoCorreo.creadousuario}}</td>
            <td>{{contratoSeguimientoCorreo.creadofecha}}</td>
            <td>{{contratoSeguimientoCorreo.creadohora}}</td>
        </tr>
    </table>
</div>