<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Area</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Folio</th>
            <th>Revision</th>
            <th>Referencia</th>
            <th>Nombre</th>
        </tr>

        <tr *ngFor="let contratoReferencia of contratosReferencia">
            <td>
                <p class="margin-espacio">{{contratoReferencia.id}}</p>
            </td>
            <td>{{contratoReferencia.area}}</td>
            <td>{{contratoReferencia.tipo}}</td>
            <td>{{contratoReferencia.categoria}}</td>
            <td>{{contratoReferencia.folio}}</td>
            <td>{{contratoReferencia.revision}}</td>
            <td>{{contratoReferencia.referencia}}</td>
            <td>{{contratoReferencia.nombre}}</td>
            <!-- <td>{{contratoReferencia.nombregenero}}</td> -->
        </tr>
    </table>
</div>