<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>

<!--
<div class="capa-lista flex-container3" *ngFor="let documento of contratoDocumentoImagen | documentosPadronPipe">
    <a class="ruta-tipo-busqueda" [routerLink]="[documento.enlace]">{{documento.nombre}}</a>
</div> -->

<div class="flex-container-adjudicacion" (click)="verActaConstitutiva()"><p class="texto">ACTA CONSTITUTIVA</p></div>
<div class="flex-container-oficio" (click)="verAltaHacienda()"><p class="texto">ALTA DE HACIENDA</p></div>
<div class="flex-container-oficio" (click)="verComprobanteDomicilio()"><p class="texto">COMPROBANTE DE DOMICILIO</p></div>
<div class="flex-container-oficio" (click)="verUbicacion()"><p class="texto">UBICACIÓN FOTOGRÁFICA DEL DOMICILIO</p></div>
<div class="flex-container-oficio" (click)="verIdentificacion()"><p class="texto">IDENTIFICACIÓN OFICIAL</p></div>
<div class="flex-container-oficio" (click)="verPoderLegal()"><p class="texto">PODER LEGAL</p></div>