<div class="bg-vh-verde contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
       <!-- <div class="empresa">{{contrato.con_nombre}}</div>
        <h3 class="titulo-header">{{contrato.contrato}}</h3>-->
    </div>
</div>

<!--<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>-->

<div class="capa-lista flex-container3">
    <a class="ruta-tipo-busqueda">{{ids}}</a>
</div>

<!--
<a href="http://localhost:8083//contratodocumentoimagen/imagen?area={{contrato.area}}&tipo={{contrato.tipo}}&categoria={{contrato.categoria}}&folio={{contrato.folio}}&revision={{contrato.revision}}&documento=ACTA%20CONSTITUTIVA"><div class="flex-container-adjudicacion"><p class="texto">ACTA CONSTITUTIVA</p></div></a>
<a href="http://localhost:8083//contratodocumentoimagen/imagen?area={{contrato.area}}&tipo={{contrato.tipo}}&categoria={{contrato.categoria}}&folio={{contrato.folio}}&revision={{contrato.revision}}&documento=ALTA%20DE%20HACIENDA"><div class="flex-container-oficio"><p class="texto">ALTA DE HACIENDA</p></div></a>
<a href="http://localhost:8083//contratodocumentoimagen/imagen?area={{contrato.area}}&tipo={{contrato.tipo}}&categoria={{contrato.categoria}}&folio={{contrato.folio}}&revision={{contrato.revision}}&documento=COMPROBANTE%20DE%20DOMICILIO"><div class="flex-container-oficio"><p class="texto">COMPROBANTE DE DOMICILIO</p></div></a>
<div class="flex-container-oficio" (click)="verUbicacion()"><p class="texto">UBICACIÓN FOTOGRÁFICA DEL DOMICILIO</p></div>
<a href="http://localhost:8083//contratodocumentoimagen/imagen?area={{contrato.area}}&tipo={{contrato.tipo}}&categoria={{contrato.categoria}}&folio={{contrato.folio}}&revision={{contrato.revision}}&documento=IDENTIFICACIÓN%20OFICIAL"><div class="flex-container-oficio"><p class="texto">IDENTIFICACIÓN OFICIAL</p></div></a>
<a href="http://localhost:8083//contratodocumentoimagen/imagen?area={{contrato.area}}&tipo={{contrato.tipo}}&categoria={{contrato.categoria}}&folio={{contrato.folio}}&revision={{contrato.revision}}&documento=PODER%20LEGAL"><div class="flex-container-oficio"><p class="texto">PODER LEGAL</p></div></a>-->