<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Area</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Folio</th>
            <th>Revision</th>
            <th>Fecha autorizacion</th>
            <th>Fecha creado</th>
            <th>Hora</th>
            <th>Estatus</th>
            <th>Reportado</th>
            <th>Observaciones</th>
            <th>Tipo seguimiento</th>
            <th>Hashcode</th>
            <th>Código</th>
        </tr>

        <tr *ngFor="let contratoSeguimiento of contratosSeguimiento">
            <td>
                <p class="margin-espacio">{{contratoSeguimiento.id}}</p>
            </td>
            <td>{{contratoSeguimiento.area}}</td>
            <td>{{contratoSeguimiento.tipo}}</td>
            <td>{{contratoSeguimiento.categoria}}</td>
            <td>{{contratoSeguimiento.folio}}</td>
            <td>{{contratoSeguimiento.revision}}</td>
            <td>{{contratoSeguimiento.fechaautorizacion}}</td>
            <td>{{contratoSeguimiento.fechacreado}}</td>
            <td>{{contratoSeguimiento.hora}}</td>
            <td>{{contratoSeguimiento.estatus}}</td>
            <td>{{contratoSeguimiento.reportado}}</td>
            <td>{{contratoSeguimiento.observaciones}}</td>
            <td>{{contratoSeguimiento.tiposeguimiento}}</td>
            <td>{{contratoSeguimiento.hashcode}}</td>
            <td>{{contratoSeguimiento.codigo}}</td>
        </tr>
    </table>
</div>