<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Alerta</th>
            <th>Area</th>
            <th>Categoria</th>
            <th>Correo Admin</th>
            <th>Correo Contraseña</th>
            <th>Descripcion</th>
            <th>Estimacion Mayor</th>
            <th>Fecha Inicio</th>
            <th>Fecha Final</th>
            <th>Fecha Autorizacion</th>
            <th>Hora Envio</th>
            <th>Jefe Correo</th>

        </tr>

        <tr *ngFor="let configuracion of configuracionWeb">
            <td>{{configuracion.id}}</td>
            <td>{{configuracion.alerta}}</td>
            <td>{{configuracion.area}}</td>
            <td>{{configuracion.categoria}}</td>
            <td>{{configuracion.correoadmin}}</td>
            <td>{{configuracion.correoadminpassword}}</td>
            <td>{{configuracion.descripcion}}</td>
            <td>{{configuracion.estimacionmayor}}</td>
            <td>{{configuracion.fechafinal}}</td>
            <td>{{configuracion.fechainicio}}</td>
            <td>{{configuracion.fechaautorizacion}}</td>
            <td>{{configuracion.horaenvio}}</td>
            <td>{{configuracion.jefecorreo}}</td>
        </tr>
    </table>
</div>