<div class="fondo">

    <div class="flex-container">
        <img [src]="imagenPc" class="imagen-login-pc">
        <img [src]="imagenCelular" class="imagen-login-celular">
    </div>


    <div class="flex-container">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <!-- CAMPO USUARIO -->
            <div class="flex-container" style="margin-top: 5%;">
                <div class="iconos-usuario">
                    <i class="fa fa-user"></i>

                </div>
                <input type="text" class="campo-usuario" placeholder="Usuario" formControlName="usuario" required>

            </div>

            <!-- CAMPO CONTRASEÑA -->
            <div class="flex-container" style="margin-top: 5%;">
                <div class="iconos-usuario">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <input type="password" class="campo-contraseña" placeholder="Contraseña" formControlName="password" required>
            </div>

            <!-- BOTON PARA INGRESAR AL SISTEMA 'DEBE VALIDAR LAS CREDENCIALES DEL USUARIO' -->
            <div class="flex-container">
                <input type="submit" value="Entrar" [disabled]="loginForm.invalid" class="boton-ingresar">
            </div>

            <p class="animate__animated animate__fadeIn mensaje-datos-incorrectos">{{mensaje}}</p>

        </form>

    </div>

</div>