
    <div class="flex-container2">
        <img [src]="imagenCelular" class="imagen-login-celular">
    </div>
    <div class="flex-container2">
        <img [src]="imagenCelular" class="imagen-login-pc">
    </div>
    <div class="flex-container2">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <div class="flex-container">
                <div class="iconos-usuario">
                    <i class="fa fa-user"></i>

                </div>
                <input type="text" class="campo-usuario" placeholder="Usuario" formControlName="usuario" required>

            </div>
            <div class="flex-container2">
                <div class="iconos-usuario">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <input type="password" class="campo-contraseña" placeholder="Contraseña" formControlName="password" required>
            </div>

            <div class="flex-container">
                <input type="submit" value="Entrar" [disabled]="loginForm.invalid" class="boton-ingresar">
            </div>

            <p class="animate__animated animate__fadeIn mensaje-datos-incorrectos">{{mensaje}}</p>

        </form>

    </div>
   <!-- <div class="flex-container">
        <img [src]="imagenCelular" class="imagen-login-celular">
    </div>
   
    <div class="flex-container2">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <table>
                <tr>
                    <td>
                        
                        <span class="input-group-text bg-valle-verde">
                            <i class="fa fa-user text-white"></i>
                        </span>
                        <input type="text" class="campo-usuario" placeholder="Usuario" formControlName="usuario" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-valle-verde">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        
                        <span class="bg-valle-verde">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input type="password" class="campo-contraseña" placeholder="Contraseña" formControlName="contraseña" required>
                        <div>
                            <span class="input-group-text bg-valle-verde">
                                <i class="fa fa-check text-white"></i>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
            <br />

            <div class="flex-container">
                <input type="submit" value="Entrar" [disabled]="loginForm.invalid" class="boton-ingresar">
            </div>
        </form>
    </div> -->
  
       

    