<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th>Id</th>
            <th>Area</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Folio</th>
            <th>Revision</th>
            <th>Estatus</th>
            <th>Origen Usuario</th>
            <th>Origen Fecha</th>
            <th>Origen Hora</th>
            <th>Destino Clave</th>
            <th>Destino Usuario</th>
            <th>Destino Realizado</th>
            <th>Destino Fecha</th>
            <th>Destino Hora</th>
            <th>Destino Estatus</th>
            <th>Contenido</th>
            <th>Seccion</th>
            <th>Documento</th>
            <th>Nota</th>
        </tr>

        <tr *ngFor="let notificacion of notificacion">
            <td>
                <p class="margin-espacio">{{notificacion.id}}</p>
            </td>
            <td>{{notificacion.area}}</td>
            <td>{{notificacion.tipo}}</td>
            <td>{{notificacion.categoria}}</td>
            <td>{{notificacion.folio}}</td>
            <td>{{notificacion.revision}}</td>
            <td>{{notificacion.estatus}}</td>
            <td>{{notificacion.origenclave}}</td>
            <td>{{notificacion.origenusuario}}</td>
            <td>{{notificacion.origenfecha}}</td>
            <td>{{notificacion.origenhora}}</td>
            <td>{{notificacion.destinoclave}}</td>
            <td>{{notificacion.destinousuario}}</td>
            <td>{{notificacion.destinorealizado}}</td>
            <td>{{notificacion.destinofecha}}</td>
            <td>{{notificacion.destinohora}}</td>
            <td>{{notificacion.destinoestatus}}</td>
            <td>{{notificacion.contenido}}</td>
            <td>{{notificacion.seccion}}</td>
            <td>{{notificacion.documento}}</td>
            <td>{{notificacion.nota}}</td>
        </tr>
    </table>
</div>