<!-- PAGINA TERMINOS -->
<!-- ANIMACION -->
<div class="animate__animated animate__fadeIn fondo">
    <app-header-titulo titulo="Terminos de uso"></app-header-titulo>

    <!-- <p>Prueba para ver botón de scroll para ir arriba</p>
    <p>{{ scrollStatus }}</p> -->


    <!-- <form [formGroup]="formPrueba" (ngSubmit)="verFechaActual()"> -->


    <!-- <p>Fecha</p> -->
    <!-- value="{{fecha | date}}" -->
    <!-- <input id="fecha" type="date" formControlName="fecha"> -->
    <!-- <input type="text" formControlName="fecha">
    <br/> -->

    <!-- <p>{{fechaActual}}</p> -->

    <!-- <input type="text" value="{{fecha}}"> -->

    <!-- <p>Fecha: {{fecha}}</p> -->

    <!-- <br/>

    <button type="submit" style="margin-top: 3%; margin-left: 2%; padding: 2%;">
        Ver fecha actual
        </button> -->

    <!-- <div>
        <p>{{fechaActual}}</p>
    </div> -->



    <!-- </form> -->

    <!-- <div class="cargando" *ngIf="cargando"> -->
    <!-- <div *ngIf="cargando">
            <img src="assets/imagenes/main/obras.png">
        </div> -->

    <!-- <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    </div>

    <button (click)="activarCarga()">
        Activar carga
    </button> -->




    <!-- <form>
        <div>
            <label for="bday">Escriba su cumpleaños:</label>
            <input type="date" id="bday" name="bday">
        </div>
    </form>

    <form>
        <div>
            <label for="party">Elija la fecha de festejo que prefiera (obligatorio, del 1.º al 20 de abril):</label>
            <input type="date" id="party" name="party" min="2000-01-01" max="2025-01-01" required>
            <span class="validity"></span>
        </div>
        <div>
            <input type="submit">
        </div>
    </form> -->

    <!-- <form [formGroup]="formPrueba" (ngSubmit)="convertirFecha()">

        <input type="date" formControlName="fecha" format="dd/mm/yyyy">
        <button type="submit">Convertir fecha</button>
    </form>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <button class="boton-ir-arriba" (click)="irArriba()">
        <i class="fa fa-chevron-up fa-2x flecha-arriba" aria-hidden="true"></i>
    </button> -->

    <!-- <form [formGroup]="formPrueba" (ngSubmit)="onSubmit()">

        <select multiple formControlName="cityName">
            <option value="">Choose your city</option>
            <option *ngFor="let city of City" [ngValue]="city" (change)="changeCity($event)">{{city}}</option>
        </select>

         ERROR BLOCK 
         <div class="invalid-feedback" *ngIf="isSubmitted && cityName.errors?.required"></div> 

         SUBMIT BUTTON 
        <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>

    </form>  -->

    <!-- <a class="btn btn-success m-3" [href]="urlWhatsApp" (click)="enviarMensaje()">
        ENVIAR MENSAJE
    </a>
    <button class="btn btn-success m-3" (click)="enviarMensaje()">
    
    </button> -->

    <!-- <button type="file" class="">Subir imagenes (footer)</button> -->

    <div class="input-group m-4">
        <!-- <input type="file" class="btn boton-color" id="inputGroupFile02"> -->
        <!-- <input type="file" class="btn boton-color" (change)="pruebaArchivo( $event )"> -->
        <!-- <input type="file" id="file" accept="image/*" width="300" height="300" />

        <button onClick="upload()">Upload</button>

        <img id="preview"> -->
        <!-- <input type="file" id="file" accept="image/*" width="300" height="300" />

        <button (click)="submitForm()">Upload</button>

        <img id="image"> -->

        <!-- <input type="file" />
            <div id="result"></div> -->
        <!-- <label class="input-group-text" ()="subirArchivos()">Subir Archivos</label> -->
    </div>
    <app-boton-footer></app-boton-footer>
</div>