<div class="contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
    </div>
</div>
<!--
<div class="capa-lista flex-container3" *ngFor="let documento of contratoAnexoImagen | documentosContratoAnexoPipe">
    <a class="ruta-tipo-busqueda" [routerLink]="[documento.enlace]">{{documento.nombre}}</a>
</div> -->

<div class="flex-container-adjudicacion" (click)="verQr()"><p class="texto">QR</p></div>
<div class="flex-container-oficio" (click)="verSeguimiento1()"><p class="texto">SEGUIMIENTO1</p></div>