<!-- PAGINA SEGUIMIENTO -->
<app-header-titulo titulo="Seguimientos"></app-header-titulo>

<div class="contenedor-seguimientos">

    <div class="contenido">
        
    </div>

    <div class="contenido">
       
    </div>

    <div class="contenido">
        
    </div>


    <!-- ESTATUS / PREGUNTAS SOBRE SEGUIMIENTO -->

    <div>
        <p class="pregunta-seguimiento">¿La obra sigue en ejecución?</p>
    
    </div>

    <div>
        <p class="pregunta-seguimiento">¿Se esta cumpliendo la obra a lo establecido en el contrato?</p>
      
    </div>

    <!-- OBSERVACIONES -->

    <h4 class="titulo-observaciones">Observaciones</h4>
      <!-- <textarea class="contenedor-observaciones"></textarea>-->

    <br />

    <!-- IMAGENES DEL SEGUIMIENTO -->
</div>

<app-boton-footer></app-boton-footer>