.buscador {
    width: 35rem;
    height: 2.2rem;
    border-radius: 10px;
    border: none;
    transition: 0.5s all linear;
    outline: none;
    text-align: center;
}

.buscador:focus {
    background: #ccc;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .buscador {
        width: 11rem;
        height: 2.2rem;
    }
}


/* Surface Duo */

@media only screen and (min-device-width: 540px) and (max-device-width: 720px) {
    /* Styles */
    .buscador {
        width: 20rem;
        height: 2.2rem;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    .buscador {
        width: 26rem;
        height: 3rem;
        font-size: 30px;
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    .buscador {
        width: 50rem;
        height: 2.2rem;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}