.flex-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color:transparent;
    padding: 1vw;
    font-family: "Segoe IU", sans-serif;
    color:white;
}

.header-contratista {
    background-color:black;
    color:white;
}

.body-contratista {
    background-color:white;
    color:black;
}

td{
    padding: 0 5vw 0 5vw;
    text-align: center;
    border-color: black;
}

th{
    padding: 0 5vw 0 3vw;
    text-align: center;
    border-color: black;
}

.table-td{
    padding: 0 0 0 3vw;
}

.table-td2{
    padding: 0 5vw 0 0;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .img-size {
        width: 15rem;
    }
    
    .container-prueba {
        display: inline;
        position: relative;
        font-family: "Segoe IU", sans-serif;
    }
    
    .header-contratista {
        width: 100%;
    }
    
    .body-contratista {
        width: 100%;
    }
    
    @media screen and (max-width: 1300px) {
    
        thead, tbody, th, td, tr {
            display: block;
        }
    
        .container-prueba {
            display: flex;
            flex-direction: row;
        }
    
        .header-contratista {
            width: auto;
        }
    
        .body-contratista {
            width: auto;
        }
    
    }
    
}