<div class="animate__animated animate__fadeIn">
    <app-title-options titulo="Terminos y Condiciones"></app-title-options>

    <app-button-footer></app-button-footer>
</div>

<div class="container-prueba">
    <table class="header-contratista">
        <tr>
            <th class="ajustate">NUMERO</th>
            <th scope="col">PERSONA</th>
            <th scope="col">NOMBREGENERO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">RFC</th>
            <th scope="col">REGISTRO</th>
            <th scope="col">PADRON</th>
            <th scope="col">CALLE</th>
            <th scope="col">NUMEXT</th>
            <th scope="col">NUMINT</th>
            <th scope="col">EDIFICIO</th>
            <th scope="col">COLONIA</th>
            <th scope="col">PAIS</th>
            <th scope="col">ESTADO</th>
            <th scope="col">CIUDAD</th>
            <th scope="col">CODPOS</th>
            <th scope="col">CONTACTO</th>
            <th scope="col">TELEFONOS</th>
            <th scope="col">GIRO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">WEB</th>
            <th scope="col">NOTAS</th>
            <th scope="col">ESTATUS</th>
            <th scope="col">BLOQUEADO</th>
            <th scope="col">CREADOUSUARIO</th>
            <th scope="col">CREADOFECHA</th>
            <th scope="col">CREADOHORA</th>
            <th scope="col">INSCRIPCION</th>
            <th scope="col">VIGENCIA</th>
            <th scope="col">SUSPENDIDOFECHA</th>
            <th scope="col">suspendidomotivo</th>
            <th scope="col">suspendidoobservaciones</th>
            <th scope="col">curp</th>
            <th scope="col">generico</th>
        </tr>
    </table>
    
    <table class="body-contratista">
        <ng-container *ngIf="contratistas">
            <tr *ngFor="let contratista of contratistas">
                <td>{{contratista.numero}}</td>
                <td>{{contratista.persona}}</td>
                <td>{{contratista.nombregenero}}</td>
                <td>{{contratista.nombre}}</td>
                <td>{{contratista.rfc}}</td>
                <td>{{contratista.registro}}</td>
                <td>{{contratista.padron}}</td>
                <td>{{contratista.calle}}</td>
                <td>{{contratista.numext}}</td>
                <td>{{contratista.numint}}</td>
                <td>{{contratista.edificio}}</td>
                <td>{{contratista.colonia}}</td>
                <td>{{contratista.pais}}</td>
                <td>{{contratista.estado}}</td>
                <td>{{contratista.ciudad}}</td>
                <td>{{contratista.codpos}}</td>
                <td>{{contratista.contacto}}</td>
                <td>{{contratista.telefonos}}</td>
                <td>{{contratista.giro}}</td>
                <td>{{contratista.email}}</td>
                <td>{{contratista.web}}</td>
                <td>{{contratista.notas}}</td>
                <td>{{contratista.estatus}}</td>
                <td>{{contratista.bloqueado}}</td>
                <td>{{contratista.creadousuario}}</td>
                <td>{{contratista.creadofecha}}</td>
                <td>{{contratista.creadoHora}}</td>
                <td>{{contratista.inscripcion}}</td>
                <td>{{contratista.vigencia}}</td>
                <td>{{contratista.suspendidofecha}}</td>
                <td>{{contratista.suspendidomotivo}}</td>
                <td>{{contratista.suspendidoobservaciones}}</td>
                <td>{{contratista.curp}}</td>
                <td>{{contratista.generico}}</td>
            </tr>
        </ng-container>
    </table>
</div>