<!-- ANIMACION -->
<div class="animate__animated animate__fadeIn fondo">

    <!--CABECERA  -->
    <app-header-titulo titulo="Configuraciones"></app-header-titulo>

    <!-- FORMULARIO CONFIGURACIONES -->
    <form [formGroup]="configuracionesForm" (ngSubmit)="configurarSistema()">

        <div class="contenedor-flex">

            <div class="contenedor-opcion">
                <li *ngFor="let opcion of opcionConfiguracion">
                    <p class="opcion-contenido">{{ opcion.nombre }}</p>
                </li>
            </div>

            <div class="contenedor-opcion">
                <li><input type="number" formControlName="monto" placeholder="$0" required></li>
                <li><input type="number" formControlName="montoMaximo" placeholder="$10,000,000" required></li>
                <li><input type="number" formControlName="resultadoPagina" placeholder="20" required></li>
                <li><input type="number" formControlName="rangoIntervalos" placeholder="$1000" required></li>
            </div>

        </div>

        <div class="contenedor-boton">
            <button class="boton-aceptar-cambios" type="submit">
                Aplicar cambios
            </button>
        </div>


    </form>