/* CONTENEDOR OPCIONES */

.contenedor-opcion {
    width: 100%;
    background: white;
}

li {
    list-style: none;
    height: 6vh;
}

.opcion-contenido {
    padding: 10px;
    font-size: 0.8rem;
}


/* INPUT OPCIONES */

input {
    outline: none;
    border: none;
    background: none;
    padding: 10px;
}


/* BOTON ACEPTAR CAMBIOS */

.boton-aceptar-cambios {
    border: none;
    border-radius: 5px;
    background: #045597;
    outline: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 2vh
}

.contenedor-boton {
    margin-left: 50%;
}

.contenedor-flex {
    display: flex;
}


/* Desktops and Laptops -------- */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1800px) {
    .contenedor-opcion {
        width: 20%;
    }
    .opcion-contenido {
        padding: 12px;
        font-size: 16px;
    }
    .contenedor-flex {
        justify-content: center;
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }
}