<div class="bg-vh-verde contenedor-header">
    <div class="flex-container2">
        <button class="boton-regresar" routerLink="/inicio">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <label class="mensaje-regresar">Regresar a Inicio</label>
        </button>
        <input type="input" placeholder="Busqueda General" class="buscador" [(ngModel)]=search autocomplete=off>
        <h3 class="titulo-header">OBRAS PUBLICAS</h3>
    </div>
</div>

<li class="lista-resultado" *ngFor="let resultado of contratos | filter:search" (click)="llamarContrato(resultado.id)">
    <div class="resultado-tipo-imagen"><img [src]="imagenTipoContrato" /></div>
    <div class="resultado-tipo-contenido">
        <div class="ocultar">{{ resultado.id }}</div>
        <!-- NOMBRE DEL CONTRATISTA -->
        {{ resultado.conNombre }}
        <br>
        <!-- CLASIFICACION -->
        {{ resultado.categoria }}
        <br>
        <!-- MONTOS -->
        <i class="fa fa-money" aria-hidden="true"></i>
        <!-- FECHA DE CREACION -->
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <!-- 2012/05/20 -->
        {{resultado.creadofecha}}
        <br>
        <!-- NÚMERO DE CONTRATO -->
        NUMERO DE CONTRATO: {{ resultado.contrato }}
    </div>
</li>